NUXT_BETTER_AUTH_SECRET=
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_DEMO_ACCOUNTS_ENABLED=false
NUXT_PUBLIC_GITHUB_AUTH_ENABLED=false

NUXT_HUB_CLOUDFLARE_DATABASE_ID=
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

NUXT_GITHUB_CLIENT_ID=
NUXT_GITHUB_CLIENT_SECRET=
